@import "~@angular/material/theming";

.container {
  height: calc(100% - 64px);
}

mat-toolbar {
  position: sticky;
  top: 0;
}

a.active-link[routerLink] {
  background-color: map-get($mat-grey, 100);
}
